body{
    background-color: gray;
    background-image: url('../img/Bg.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    position: relative;
}

#canvas {
    position: absolute;
    background-image: url('../img/bgCanvas2.png');
    opacity: 1;
    background-repeat: no-repeat;
    background-color: rgba(112, 232, 232, 0.708);
    color: #d0d827;
    float: right;
}
#score{
    position: absolute;
    z-index: 20;
}
